/* DateTimePicker */
.datetimepicker {
    position: absolute;
    display: none;
}
.timepicker a {
    cursor: pointer;
    text-shadow: 0 0 8px white;
}
.dtpicker-trigger img { vertical-align: bottom; }
